* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, FantasqueSansM Nerd Font, Roboto, sans-serif;
    font-size: 12px;
}
window#waybar.topbar_Godlynux {
    background-color:  rgba(0,0,0,0);
    /*border-bottom: 3px solid rgba(21, 19, 21, 0);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}
*/

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* #custom-workspaces_left { */
/*     margin: 4px; */
/*     background:  rgba(140,54,0,0.4) ; */
/*     border-radius: 10px; */
/* } */
/* #custom-workspaces_left button { */
/*     border: 2px solid  #d26e0a ; */
/*     border-radius: 5px; */
/*     background-image: radial-gradient(#8c3600 ,#d26e0a); */
/*     margin: 4px; */
/*     padding: 0 4px; */
/* } */

#workspaces button {
    border: 2px solid  #d26e0a ;
    border-radius: 9px;
    background-image: radial-gradient(#8c3600 ,#d26e0a);
    margin: 4px;
    padding: 0 4px;
    transition: background-image 1s;
}

#workspaces button.active {
    background-color: rgba(255,233,72,1);
    background-image: radial-gradient(at top right,#fff883,#f29b14);

    transition: background-image 1s;

    animation-name: shine_button;
    animation-duration: 5s;
    animation-timing-function: steps(100);
    animation-iteration-count: infinite;
    animation-direction: normal;

    /* animation-name: dot_solid; */
    /* animation-duration: 5s; */
    /* animation-timing-function: steps(100); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: normal; */

}
#workspaces button:not(.empty) {
    background-color: #f29b14;
    background-image: radial-gradient(at top right,#d26e0a, #f29b14);
}
#workspaces button:not(.empty).active {
    background-color: #fff883;
    background-image: radial-gradient(at 100% -100%,#fff883,#f29b14);
    animation-name: shine_button;
    animation-duration: 5s;
    animation-timing-function: steps(100);
    animation-iteration-count: infinite;
    animation-direction: normal;
}
#workspaces button:not(.empty):hover {
    box-shadow: inset 0 0px #ffffff;
    background-image: radial-gradient(#fff883,#f29b14);
}
#workspaces button:hover {
    box-shadow: inset 0 0px #ffffff;
    background-image: radial-gradient(#fff883,#f29b14);
}

#workspaces.left {
    margin: 4px 0px 4px 4px;
    background:  rgba(140,54,0,0.5) ;
    border-radius: 10px 0px 0px 10px;
}
#workspaces.right {
    margin: 4px 4px 4px 0px;
    background:  rgba(140,54,0,0.5) ;
    border-radius: 0px 10px 10px 0px;
}
#custom-arch-arch {
    font-size: 30px;
    margin: 0px;
    padding: 0 15px 0 20px;
    color: #cccccc; 
    background-image: linear-gradient(315deg,#632600,#8c3600);
    border-radius:3px;
}
#custom-arch-arch:hover {
    background-image: linear-gradient(135deg,#632600,#8c3600);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#clock.calendar,
#battery,
#cpu,
#memory,
#disk,
#window,
#temperature,
#pulseaudio,
#wireplumber,
#custom-media,
#network,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 18px;
}
#backlight {
    padding: 0 0 0 18px;
}
#backlight-slider slider {
    min-height: 8px;
    min-width: 8px;
    border-radius: 5px;
    background: #d26e0a;
    background-image: radial-gradient(at top right,#d26e0a, #f29b14);
    border: solid 2px #d26e0a;
    padding: 0 2px;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 4px;
    min-width: 100px;
    border-radius: 5px;
    background: #222222;
    border: 0px solid #000000;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #f29b14;
    border: 0px solid #000000;
}

/* .modules-left, */
/* .modules-right { */
/*     margin: 4px; */
/*     background:  rgba(140,54,0,0.5) ; */
/*     border-radius: 10px; */
/*     color: #fff883; */
/* } */

/* #power-options { */
/*     margin-top: 0px; */
/* } */

#left_drawer,
#right_drawer {
    margin: 4px;
    background:  rgba(140,54,0,0.5) ;
    border-radius: 10px;
    color: #fff883;
}
#battery,
#clock {
    background-color: #fdd864;
    border: 2px solid #ecc753;
    font-weight: bold;
    color: #222222;
    margin: 6px;
    border-radius: 4px;
}
#battery:hover,
#clock:hover {
    background-color: #ecc753;
    border: 2px solid #ecc753;
    font-weight: bold;
    color: #222222;
    margin: 6px;
    border-radius: 4px;
}
#clock.calendar {
    background: rgba(0,0,0,0);
    color: #f29b14;
    padding: 0 10px;
    border: 0px solid #000000;
}

/* #battery.charging, #battery.plugged { */
/*     color: #fff883; */
/* } */
/* #battery.critical:not(.charging) { */
/*     color: #fff883; */
/* } */

/*
#batbar {
    background: rgba(50,50,50,1);
}
*/

@keyframes shine_button {
    5% {
        background-image: radial-gradient(at 90% -100%, #fff883,#f29b14);
    }
    10% { 
        background-image: radial-gradient(at -100% -100%, #fff883,  #f29b14);
    }
    30% {
        background-image: radial-gradient(at -100% 100%, #fff883,  #f29b14);
    }
    40% {
        background-image: linear-gradient(135deg, #fff883,#f29b14, #f29b14);
    }
    60% {
        background-image: linear-gradient(135deg, #f29b14, #fff883 20%, #f29b14 80%);
    }
    80% {
        background-image: linear-gradient(135deg, #f29b14,#f29b14, #fff883);
    }
    90% {
        background-image: radial-gradient(at 100% -100%, #fff883,  #f29b14);
    }
}
@keyframes shine {
    5% {
        background-image: linear-gradient(135deg, #8c3600 0%, #f29b14 5%, #8c3600 95%);
    }
    30% {
        background-image: linear-gradient(135deg, #8c3600 95%, #f29b14 5%, #8c3600 0%);
    }
    /* 35% { */
    /*     background-image: linear-gradient(#8c3600,#8c3600); */
    /* } */
}
@keyframes dot_solid {
    to {
        border: 2px dotted  #d26e0a;
    }
}
@keyframes melt {
    30% {
        background-image: radial-gradient(#fff883, #f29b14);
    }
    55% {
        background-image: linear-gradient(#f29b14, #fff883, #f29b14);
    }
    75% {
        background-image: radial-gradient(at -100% 100%, #fff883, #f29b14,#fff883);
    }
    85% {
        background-image: radial-gradient(at -100% -100%, #fff883, #f29b14,#fff883 20%);
    }
    100% {
        background-image: radial-gradient(at -100% -100%, #fff883, #f29b14);
    }
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: rgba(22,18,20,0);/*#f2c613;*/
    /*border: 2px solid rbga(21,19,21,0.9);*/
    font-weight: bold;
    /*color: #555555;*/
    color: #f29b14;
}

#memory {
    background-color: rgba(237,165,21,0);/*#eda515;*/
    font-weight: bold;
    color: #f29b14;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: rgba(237,115,21,0);/*#ed7315;*/
    font-weight: bold;
    /*color: #bbbbbb;*/
    color: #f29b14;
}

#network {
    background-color: rgba(242,212,19,0);/*#f2d413;*/
    font-weight: bold;
   /* color: #333333;*/
    color: #f29b14;
}
#network.disconnected {
    color: #fff883;
}
#pulseaudio {
    background-color: rgba(242,227,19,0);/* #f2e313;*/
    font-weight: bold;
   /* color: #111111;*/
    color: #f29b14;
}
#pulseaudio.muted {
    color: #fff883;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: rgba(0,0,0,0);/*#f0932b;*/
    font-weight: bold;
    /*color: #999999;*/
    color: #f29b14;
}
#temperature.critical {
    color: #fff883;
}
#tray {
    background-image: radial-gradient(at top right,#d26e0a, #f29b14);
    /* background-color: #f29b14; */
    border-radius: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
/*
#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
*/
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}




/*
 *Sidebar
 */

window#waybar.sidebar_Godlynux {
    /* background:  rgba(60,24,0,0.8) ; */
    background: #632600;
    /* background-image: linear-gradient(135deg,#8c3600,#632600); */
    border-radius: 10px;
    border-right: 0px solid #8c3600;
    /* border-radius: 0px 8px 8px 0px; */
}
/*  Wofi button */
#custom-terminal,
#custom-menu {
    color: #cccccc;
    margin: 4px;
    padding: 8px 0px 8px 2px;
    font-size: 25px;
    border-radius: 10px;
    background: rgba(0,0,0,0);
    /* font-weight: bold; */
}

/* centrail app groups */
#communications,
#paints,
#browsers {
    margin: 4px;
    border-radius: 10px;
    background: rgba(140,54,0,0.5);
    color: #cccccc;
}
#custom-communication,
#custom-paint,
#custom-browser {
    color: #cccccc;
    border-radius: 10px;
    background: #632600;
    font-size: 25px;
    padding: 8px 0px 8px 6px;
}
#custom-paint { /* icon looks too small */
    font-size: 21px;
    padding: 10px 0px 10px 2px;
}
#custom-terminal:hover,
#custom-communication:hover,
#custom-menu:hover,
#custom-paint:hover,
#custom-browser:hover {
    border-radius: 10px;
    animation-name: focus;
    animation-duration: 0.3s;
    animation-timing-function: steps(40);
    animation-iteration-count: 1;
    animation-direction: reverse;
    background: rgba(140,54,0,1);
}
#custom-discord:hover,
#custom-gimp:hover,
#custom-betterbird:hover,
#custom-firefox:hover,
#custom-zen:hover {
    border-radius: 10px;
    animation-name: inner_focus;
    animation-duration: 0.3s;
    animation-timing-function: steps(40);
    animation-iteration-count: 1;
    animation-direction: reverse;
    background: rgba(140,54,0,1);
}
#custom-discord,
#custom-gimp,
#custom-firefox,
#custom-zen {
    font-size: 25px;
    padding: 8px 0px 8px 6px;
}
#custom-betterbird {
    font-size: 23px;
    padding: 10px 0px 10px 2px;
}
#custom-discord {
    padding: 8px 0px 8px 1px;
}

/* Animations */
@keyframes focus {
    to {
        background: #632600;
    }
}
@keyframes inner_focus {
    to {
        background: rgba(140,54,0,0.5);
    }
}
